<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MiLeS</title>

  <!-- Bootstrap core CSS -->
  <link href="/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/stylesheet.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}"><i id="t_icon" class="fas fa-robot"></i>MiLeS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('index') }}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h5 class="box_titles">Input</h5>
        <textarea class="form-control interface_box" data-text="Enter text here" id="input_box"></textarea>
        <button id="submit_button" onclick="onSubmit()" type="button" class="btn btn-primary">
          Submit
          <i id="sub_icon" class="fas fa-arrow-right"></i>
        </button>
      </div>
	    <div class="col-lg-6">
        <h5 class="box_titles">Simplified Text</h5>
        <div class="form-control interface_box" id="ai_box"><p id="ai_output"></p></div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/bootstrap/js/bootstrap.bundle.min.js"></script>
  
  <!--External JS-->
  <script src="/js/misc.js"></script>

</body>

</html>
